/*Resetando configuração browser*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --branco:#FFFFFF;
  --azul: #106C84;
}

/*Fontes do google*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600;700&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
}

/*Container Principal*/
main {
  display: flex;
}

/*Fonts*/
h1 {
  font-size: 65px;
  color: var(--azul);
}

h2 {
  font-size: 30px;
  padding-bottom: 10px;
}

h3 {
  display: inline-block;
  padding-bottom: 20px;
}

p {
  font-weight: 500;
  line-height: 1.4rem;
}

 .atual {
  display: inline;
  margin-left: 10px;
  background-color: var(--azul);
  padding: 5px 20px;
  border-radius: 15px;
  color: var(--branco);
  font-weight: 500;
  font-size: 15px;
}

/*Imagem de perfil*/
.image > img {
  width: 200px;
  border-radius: 50%;
  margin-left: 80px;
}

/*Colunas*/
.col-1 {
  background-color: var(--azul);
  width: 30%;
  padding: 30px 0;
}

.contacts, .soft-skills, .hard-skills {
  margin: 25px 0;
  margin-left: 80px;
  color: var(--branco);
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons, .hab {
  margin-bottom: 20px;
}

.ico {
  width: 25px;
  height: 25px;
  margin-top: 2px;
}

.por {
  height: 15px;
  margin-top: 10px;
}


/*Seção: Nome, Cargo, Experiência, Formação*/
.col-2 {
  width: 70%;
}

section {
  margin: 40px 0;
  padding: 0 50px;
}

.topic {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon-profissional {
  margin-bottom: 20px;
}


/*Nome dos cursos*/
a {
  text-decoration: none;
  color: black;
  transition: 0.6s;
}

a:hover {
  color: var(--azul);
}

/*Rodapé*/

footer {
  background-color: var(--branco);
  background-color: black;
  padding: 7px 0;
  
  text-align: center;
}

#footer {
  color: var(--branco);
}

/*Mobile - responsividade*/
@media (max-width: 1054px) {
  h3 {
    display: block;
    padding-bottom: 5px;
  }

  .atual {
    display: table;
    margin-left: 0;
    margin-bottom: 5px;
  }
}

@media (max-width:958px) {
  .contacts, .soft-skills, .hard-skills, .image > img {
    margin-left: 10%;
  }
}

@media (max-width:888px) {
  .col-1 {
    width: 50%;
  }

  section {
    padding: 0 20px;
  }

  h1 {
    font-size: 3rem;
  }
}

@media (max-width:888px){
  .col-1 {
    width: 50%;
  }
}

@media (max-width:560px){

  main {
    display: flex;
    flex-direction: column;
  }

  .col-1 {
    width: 100%;
  }

  .col-2 {
    width: 100%;
  }

  h1 {
    font-size: 2rem;
  }
}